<div class="jumbotron bg-white">
  <h1 class="text-primary">Evaluación de salud emocional</h1>
  <p class="lead">Esta encuesta permitirá evaluar el nivel de estrés que presentan los empleados en la empresa</p>
  <hr>
  <p class="font-italic">Tiempo estimado: 7 minutos</p>
</div>

<hr class="bg-primary"/>
<%= render 'form', mental: @mental %>

<%= link_to 'Back', mentals_path %>
