<div class="jumbotron bg-light">
  <h1 class="display-5 text-primary text-center"> <i class="fas fa-brain"></i> Salud emocional</h1>
  <p class="lead text-center">La salud emocional es uno de los aspectos más relevantes para mantener un buen desempeño laboral</p>
  </p>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top mt-3" src="assets/meditation.svg" alt="Card image cap" width="160" height="160">
    <div class="card-body">
      <h5 class="card-title">Estrés Laboral</h5>
      <p class="card-text">Realiza ahora la evaluación de estrés laboral y conoce los resultados de tu organización </p>
      <div class="float-right px-2 align-content-end">
        <%= link_to new_laboral_path, class: "btn btn-primary"  do %>
          <span>Iniciar evaluación</span>
        <%end%>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top  mt-3" src="assets/celebrate.svg" alt="Card image cap" width="160" height="160">
    <div class="card-body">
      <h5 class="card-title">Estabilidad emocional</h5>
      <p class="card-text">Con esta evaluación podrás conocer como te encuentras emocionalmente y recibir algunas recomendaciones.</p>
      <div class="float-right px-2 align-content-end">
        <%= link_to new_mental_path, class: "btn btn-primary"  do %>
          <span>Iniciar evaluación</span>
        <%end%>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top mt-3" src="assets/medicine.svg" alt="Card image cap" width="160" height="160">
    <div class="card-body">
      <h5 class="card-title">Apoyo psicológico</h5>
      <p class="card-text">Contacta a los mejores profesionales de la salud para recibir apoyo psicológico.</p>
      <div class="float-right px-2 align-content-end">
      <a href="#" class="btn btn-secondary">Próximamente</a>
      </div>
    </div>
  </div>
</div>