<div class="card-deck mt-5">
  <%= link_to results_path, class: "card cardsS imgBlack"  do %>
    <img class="card-img-top mt-3" src="assets/hiring.svg" alt="Card image cap" width="160" height="160">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">Resultado generales</h5>
    </div>
  <%end%>
  <%= link_to enviroments_path, class: "card cardsS imgBlack"  do %>
    <img class="card-img-top  mt-3" src="assets/celebrate.svg" alt="Card image cap" width="160" height="160">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">Resultados Clima laboral</h5>
    </div>
  <%end%>

  <%= link_to mentals_path, class: "card cardsS imgBlack"  do %>
    <img class="card-img-top mt-3" src="assets/medicine.svg" alt="Card image cap" width="160" height="160">
    <div class="card-body">
      <h5 class="card-title text-primary text-center"> Resultados Salud emocional</h5>
    </div>
  <%end%>
</div>