<div class="jumbotron bg-light">
  <h1 class="display-5 text-primary text-center"> <i class="fas fa-smile-beam"></i> Clima Laboral</h1>
  <p class="lead text-center">Las evaluaciones de clima laboral ayudan a tomar acciones efectivas para mejorar el ambiente laboral</p>
  </p>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top mt-3" src="assets/coworker.svg" alt="Card image cap" width="160" height="160">
    <div class="card-body">
      <h5 class="card-title">Evaluación clima laboral</h5>
      <p class="card-text">Realiza ahora la evaluación de estrés laboral y conoce los resultados de tu organización </p>
      <%= link_to new_enviroment_path, class: "btn btn-primary"  do %>
        <span>Iniciar evaluación</span>
      <%end%>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top  mt-3" src="assets/test2.svg" alt="Card image cap" width="160" height="160">
    <div class="card-body">
      <h5 class="card-title">Recomendaciones</h5>
      <p class="card-text">Conoce las recomendaciones de Promote.me para mejorar el ambiente laboral</p>
      <a href="#" class="btn btn-secondary">Próximamente</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top mt-3" src="assets/data.svg" alt="Card image cap" width="160" height="160">
    <div class="card-body">
      <h5 class="card-title">Resultados de la empresa</h5>
      <p class="card-text">Conoce como es el clima laboral de la compañía donde laboras</p>
      <a href="#" class="btn btn-secondary">Próximamente</a>
    </div>
  </div>
</div>