<div class="jumbotron bg-white">
  <h1 class="text-primary">Evaluación de estrés laboral</h1>
  <p class="lead">Esta encuesta permitirá evaluar el nivel de estrés que presentan los empleados en la empresa</p>
  <hr>
  <p class="font-italic">Tiempo estimado: 4 minutos</p>
</div>


<%= render 'form', laboral: @laboral %>

<%= link_to 'Back', laborals_path %>
