<div class="container-fluid bg-1 text-center">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Bienvenido a</h1>
    <%= image_tag("logoPromoteMe.svg", { size: "300x300", alt: "PromoteMe", class: "img-responsive"} ) %>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"> En esta plataforma encontrarás todo lo que tu y tu empresa necesitan para mejorar la gestión de recursos humanos. Contamos con un equipo bla bla bla asdasdasdadi sadsadsadasdsada adssauausd gasdu had sas.</p>
      <div class="d-grid gap-2 mt-5 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg mx-3 px-4 gap-3">Ingresar como Empleado</button>
        <button type="button" class="btn btn-outline-secondary mx-3 btn-lg px-4">Ingresar como Empleador</button>
      </div>
    </div>
  </div>
</div>