<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Bienvenido <strong> Sebastián </strong> </h3>
  <%= image_tag("logoPromoteMe.svg", { size: "600x600", alt: "PromoteMe", class: "img-responsive"} ) %>
</div>