<div class="jumbotron bg-light">
  <h1 class="display-5 text-primary text-center"> <i class="far fa-lightbulb"></i> DISC</h1>
  <p class="lead text-center"> Esta evaluación permitirá conocer que tipo de perfil profesional tiene y adaptarte mejor a tu trabajo</p>
  </p>
</div>
<%= render 'form', disc: @disc %>

<%= link_to 'Back', discs_path %>
