<div class="jumbotron">
  <h1 class="text-primary">Evaluación de clima laboral</h1>
  <p class="lead">Esta encuesta permitirá evaluar el ambiente laboral de la empresa basado en 10 aspectos clave para los empleados</p>
  <hr>
  <p class="font-italic">Tiempo estimado: 6 minutos</p>
</div>

<hr class="text-primary"/>

<%= render 'form', enviroment: @enviroment %>
  <%= link_to 'Volver', enviroments_path, class: 'btn btn-outline-primary' %>
