<%= link_to 'Volver', enviroments_path, class: 'btn btn-outline-primary' %>
<blockquote class="blockquote text-primary font-weight-lighter">
  <h1 class="mb-0 text-center">Evaluación de clima laboral</h1>
  <hr class="text-primary"/>
</blockquote>

<%= render 'form', enviroment: @enviroment %>

